<!DOCTYPE html>
<html lang="en">
<head>
    <title>登录密码获取流程</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/weui/0.4.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/jquery-weui/0.8.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/dlnu/static/css/binding_page.css">
</head>
<body>
    <div class='container'>
        <div class="hd">
            <h1 id="system_title" class="page_title">绑定密码获取流程</h1>
        </div>
        <div class="page__bd page__bd_spacing" style="margin-left: 20px">
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder">1.登录 <a href="http://ehall.dlnu.edu.cn/new/index.htm">http://ehall.dlnu.edu.cn/new/index.htm</a> </div></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">
                    <div class="placeholder">2.输入 <span style="color: #1e88e5">统一身份验证密码</span> 进行登录
                    </div></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">
                    <div class="placeholder">3.在综合教务—>个人信息—><span style="color: darkred">更改密码</span> </span>
                    </div></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">
                    <div class="placeholder">4.修改后的密码作为<span style="color: darkred">教务密码</span>，进行企业微信绑定操作
                    </div></div>
            </div>
            <div style="display: flex;justify-content: center;margin-top: 10px ">
                <img src="/dlnu/static/images/detail.png" class="img-max" style="width: 100%">
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-weui/0.8.0/js/jquery-weui.min.js"></script>
</body>
</html>